extends ../layouts/common.pug

block content
  h1 Create animal

  if errs
    each err in errs
      .alert.alert-danger= err

  form(action='/animals/create', method='POST', class='d-flex').form-inline.my-2.my-lg-2
    input.form-control.mr-sm-2(type='text', placeholder='Name', name='name', value=values ? values.name : '')
    input.form-control.mr-sm-2(type='text', placeholder='Color', name='color', value=values ? values.color : '')
    button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Create